# Core App Configurations
PROJECT_NAME="Enterprise Document Intelligence Assistant"
ENV=development
DEBUG=True
API_V1_STR=/api/v1
HOST=0.0.0.0
PORT=8000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=document_intelligence

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Security & JWT
SECRET_KEY=7e15291b0f19c25f1b1c55bc6d01e1498b671a532321bc36efc0d8f07df590ad
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
